
*.wdf
*.wdb
*.bat
*.log
*.v
project_1/project_1.ip_user_files/README.txt
*.prj
*.pb
*.btree
*.type
*.xdbg
*.exe
*.sdb
*.rlx
*.svtype
*.ini
*.xpr
*.xpr
project_1/project_1.xpr
*.tcl
*.jou
project_1/project_1.sim/sim_1/behav/xsim.dir/lab02_tf_behav/Compile_Options.txt
project_1/project_1.sim/sim_1/behav/xsim.dir/lab02_tf_behav/TempBreakPointFile.txt
*.info
*.html
project_1/project_1.sim/sim_1/behav/xsim.dir/lab02_tf_behav/webtalk/usage_statistics_ext_xsim.xml
project_1/project_1.sim/sim_1/behav/xsim.dir/lab02_tf_behav/xsim.dbg
*.mem
*.reloc
*.rtti
project_1/project_1.xpr
*.wdf
*.wdf
*.wpc
*.wpc
*.xml
*.rst
*.xdc
*.txt
*.js
*.sh
*.dcp
*.vds
*.rpt
*.dbg
project_1/project_1.cache/wt/java_command_handlers.wdf
project_1/project_1.cache/wt/project.wpc
project_1/project_1.cache/wt/webtalk_pa.xml
*.rpx
*.vdi
*.bit
*.lpr
*.xml
*.wpc
*.wdf
*.wcfg
